body{
    display: flex;
    align-items: center;
    justify-content: center;
}
.baseOPalito{
    height: 200px;
    width: 30px;
    background: black;
}

.fatherlight{
    height: 515px;
    width: 200px;
    background: rgb(0, 0, 0);
    border-radius: 10px;
    display: block;
}

.grandfather{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.light{
    width: 160px;
    height: 160px;
    background: beige;
    border-radius: 50%;
    margin: 6px auto;

}

.red{
    background: red;
    /* box-shadow: 5px 3px 104px 56px rgba(194,68,68,0.97); */
}
.redOn{
    box-shadow: 5px 3px 104px 56px rgba(194,68,68,0.97);
}

.green{
    background: green;
}

.greenOn{
    box-shadow: 5px 3px 104px 56px rgba(68, 194, 83, 0.97);
}

.yellow{
    background: yellow;
}

.yellowOn{
    box-shadow: 5px 3px 104px 56px rgba(177, 194, 68, 0.97);
}